/*TO DO: Style project */ 

* {
  color: #41354D;
  
}
body {
  background-image: url(../images/retro.jpg);
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 80vw;
  margin: 0 auto;
  padding: 2em;
  background-image: url(../images/retro2.jpg);
  
}

.new-item {
  background-color: #DE7E44;
  border: 5px solid #DE7E44;
  margin-bottom: 2em;
  margin-right: 1em;
}

.top-button {
  background-color: #5d9b84;
  padding: 1em;
}

#form-input {
  background-color: beige;
}

.top {
  
  padding: 2em;
  
}

.hide {
  display: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5d9b84;
  text-align: center;
}

#bottom-link {
  color:  #41354D;
}