/*Universal styling and background wallpaper */
* {
  color: #41354d;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
body {
  background-image: url(../images/retro.jpg);
}

/* Creates flex container for gifs */
.flex-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 80vw;
  margin: 0 auto;
  padding: 2em;
  background-image: url(../images/retro2.jpg);
}

/*Styling for Gif boxes */
.new-item {
  background-color: #de7e44;
  border: 3px solid #de7e44;
  margin-bottom: 2em;
  margin-right: 1em;
}

.animate {
  max-width: 70vw;
}

/* Adds color to button */
.top-button {
  background-color: #5d9b84;
  padding: 1em;
}

/* Changes default background color behind form */
#form-input {
  background-color: beige;
  font-weight: normal;
}

/*Adds a bit of padding around top of page */
.top {
  padding: 2em;
}

/* Fixed footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5d9b84;
  text-align: center;
}

#bottom-link {
  color: #41354d;
}

/* Sets hide used in JS */

.hide {
  display: none;
}

